---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
  </head>
  <body>
    <h1 style="text-align: center; margin-top: 20vh;">Astro + Tailwind + Elysia is working 🚀</h1>
  </body>
</html>
